[Desktop Entry]
Type=Application
Name=pianocheetah
Comment=piano for mere mortals
Exec=pianocheetah %F
Icon=app.shaz.pianocheetah
Categories=AudioVideo;Audio;Midi;
MimeType=inode/directory;
Terminal=false
