[Desktop Entry]
Type=Application
Categories=Multimedia;
Name=MidiConfig
GenericName=MidiConfig
Comment=PianoCheetah's midi configuration
Exec=/opt/app/pcheetah/midicfg
TryExec=/opt/app/pcheetah/midicfg
Icon=/opt/app/pcheetah/midicfg.ico
Path=
Terminal=false
